@import "tailwindcss";

.ant-input,
.ant-input-password {
  border-radius: 4px !important;
}

.ant-input:focus,
.ant-input-password:focus {
  border-color: #08979C !important;
  box-shadow: 0 0 0 2px rgba(76, 175, 80, 0.2) !important;
}

.ant-btn-primary {
  background:#08979C !important;
}

.ant-btn-primary:hover {
  background: #1fb7bd !important;
}

.ant-form-item {
  margin-bottom: 16px !important;
}

/* Table  */
.companies-table .ant-table {
  background: transparent;
}

.companies-table .ant-table-thead > tr > th {
  background: #f5f5f5;
  font-weight: normal;
  padding: 16px 24px;
  border-bottom: none;
}

.companies-table .ant-table-tbody > tr > td {
  padding: 16px 24px;
  border-bottom: 1px solid #f0f0f0;
}

.companies-table .ant-table-tbody > tr:hover > td {
  background: #fafafa;
}

/* Pagination  */
.companies-pagination.ant-pagination {
  margin: 16px 24px;
}

.companies-pagination .ant-pagination-item {
  border-radius: 4px;
}

.companies-pagination .ant-pagination-item-active {
  background: #00b2a9;
  border-color: #00b2a9;
}

.companies-pagination .ant-pagination-item-active a {
  color: white;
}

/* Modal  */
.company-modal .ant-modal-content {
  padding: 24px;
}

.company-modal .ant-modal-header {
  margin-bottom: 24px;
}

.company-modal .ant-modal-title {
  font-size: 18px;
}

.company-modal .ant-form-item-label > label {
  font-weight: 500;
}

